.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
  background-color: #f0f2f5;
}

.svg-map {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  max-width: 60%;
}

.info-card {
  width: 30%;
  border: none;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #333;
  border-radius: 8px;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.25rem;
}
